<h1>Listing event_categories</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Category</th>
    <th>Number required</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_categories.each do |event_category| %>
  <tr>
    <td><%= event_category.event %></td>
    <td><%= event_category.category %></td>
    <td><%= event_category.number_required %></td>
    <td><%= link_to 'Show', event_category %></td>
    <td><%= link_to 'Edit', edit_event_category_path(event_category) %></td>
    <td><%= link_to 'Destroy', event_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event category', new_event_category_path %>
