<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event_category.event %>
</p>

<p>
  <b>Category:</b>
  <%= @event_category.category %>
</p>

<p>
  <b>Number required:</b>
  <%= @event_category.number_required %>
</p>


<%= link_to 'Edit', edit_event_category_path(@event_category) %> |
<%= link_to 'Back', event_categories_path %>
