<div class="row">
  <div class="span6">
    <div id="events">
      <h3>
        <%= t('events') %>
      </h3>
      <ul class="unstyled">
        <% @event_helpers.each do |event_helper| %>
          <%= render :partial => 'events/event', :locals => {:event => event_helper.event} %>
        <% end %>
      </ul>
    </div>
    
    <div id="helper_candidates">
      <h3>
        <%= t('helper_candidates') %>
      </h3>
      <ul class="unstyled">
        <%= render @helper_candidates %>
      </ul>
      <%= button_new(new_helper_candidate_path) %>
    </div>

    <div id="lodgings">
      <h3><%= t('lodgings') %></h3>
      <ul class="unstyled">
        <%= render :partial => 'lodgings/lodging_event', :collection => @lodgings %>
      </ul>
      <%= button_new(new_lodging_path(:request => false)) %>
    </div>

    <div id="lodging_requests">
      <h3><%= t('lodging_requests') %></h3>
      <ul class="unstyled">
        <%= render :partial => 'lodgings/lodging_event', :collection => @lodging_requests %>
      </ul>
      <%= button_new(new_lodging_path(:request => true)) %>
    </div>
  </div>
  <div class="span6">
    <div id="user">
      <h3>
        <%= t('user') %>
      </h3>
      <%= @user.username %> <br/>
      <%= @user.email %> <br/>
      <%= button_edit(edit_user_registration_path, 'btn btn-mini', t('change_registration')) %>
    </div>

    <div id="contacts">
      <h3>
        <%= t('contact') %>
      </h3>
      <%= render :partial => 'contacts/contact', :collection => @contacts %>
    <p>
      <%= button_new(new_user_contact_path(@user)) %>
    </p>
    </div>
  </div>
</div>
