<div class="two-column column-1">
  <div id="events">
    <h2>
      <%= t('events') %>
    </h2>
    <% @event_helpers.each do |event_helper| %>
      <%= render :partial => 'events/event', :locals => {:event => event_helper.event} %>
    <% end %>
  </div>
  
  <div id="lodgings">
    <h2><%= t('lodgings') %></h2>
    <ul>
      <%= render :partial => 'lodgings/lodging_event', :collection => @lodgings %>
    </ul>
  </div>

  <div id="lodging_requests">
    <h2><%= t('lodging_requests') %></h2>
    <ul>
      <%= render :partial => 'lodgings/lodging_event', :collection => @lodging_requests %>
    </ul>
  </div>
</div>

<div class="two-column column-2">
  <div id="user">
    <h2>
      <%= t('user') %>
    </h2>
    <%= @user.username %> <br/>
    <%= @user.email %> <br/>
    <%= link_to t('change_registration'), edit_user_registration_path %>
  </div>

  <div id="contacts">
    <h2>
      <%= t('contact') %>
    </h2>
    <%= render :partial => 'contacts/contact', :collection => @contacts, :locals => {:readonly => false} if can? :read, @contacts %>
  <p>
    <%= link_to t('new_contact'), new_user_contact_path(@user) if can? :manage, @user %>
  </p>
  </div>

</div>
