<%- model_class = HelperCandidate -%>
<div class="page-header">
  <h1><%=t 'helper_candidates' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @helper_candidates.each do |helper_candidate| %>
      <tr>
        <td>
          <% unless helper_candidate.user.nil? %>
            <% if can? :show, helper_candidate.user %>
              <%= link_to helper_candidate.user.username, helper_candidate.user %>
            <% else %>
              <%= helper_candidate.user.username %>
            <% end %>
            <% if helper_candidate.anonymous and can? :manage, helper_candidate %>
              (<%= link_to @anon.username, @anon %>)
            <% end%>
          <% end %>
        </td>
        <td><%= helper_candidate.start_at %></td>
        <td><%= helper_candidate.end_at %></td>
        <td><%= helper_candidate.location %></td>
        <td><%= helper_candidate.comment %></td>
        <td><%=l helper_candidate.created_at %></td>
        <td>
          <%= button_view(helper_candidate_path(helper_candidate)) %>
          <%= button_edit(edit_helper_candidate_path(helper_candidate)) if can? :update, helper_candidate %>
          <%= button_destroy(helper_candidate_path(helper_candidate)) if can? :destroy, helper_candidate %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_new(new_helper_candidate_path, 'btn btn-primary') %>
