<p id="notice"><%= notice %></p>

<p>
  <b>Lodging:</b>
  <%= @booking.lodging %>
</p>

<p>
  <b>Persons:</b>
  <%= @booking.persons %>
</p>

<p>
  <b>User:</b>
  <%= @booking.user %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
