<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :first_name %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :email %>
  <%= f.input :role_id, :collection => @roles, :as => :select %>
  <%= f.input :disabled %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
