<p id="notice"><%= notice %></p>

<h2>Username: <%= @user.username %></h2>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
