<p id="notice"><%= notice %></p>

<h2>Username: <%= @user.username %></h2>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to t('edit'), edit_user_path(@user) if can? :update, @user %>

<h2>
  <%= t('contact') %>
</h2>

<% if can? :read, @contacts %>
  <%= render :partial => 'contacts/contact', :collection => @contacts, :locals => {:readonly => false} %>
<% elsif can? :read, @public_contacts %>
  <%= render :partial => 'contacts/contacts', :locals => { :contacts => @public_contacts, :user => @user, :readonly => false} %>
<% end %>
