<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <% if @event_orga.event %>
    <%= @event_orga.event.name %>
  <% end %>
</p>

<p>
  <b>User:</b>
  <% if @event_orga.user %>
    <%= @event_orga.user.email %>
  <% end %>
</p>

<p>
  <b>Category:</b>
  <%= @event_orga.category %>
</p>


<%= link_to 'Edit', edit_event_orga_path(@event_orga) %> |
<%= link_to 'Back', event_orgas_path %>
