<h1><%=t('events')%></h1>
<div class="month-nav">
  <div class="e-month-nav e-previous-month">
    <%= raw( "<< " +  month_link(@shown_month.prev_month)) %>
  </div>
  <div class="e-month-name">
    <%= raw(I18n.localize(@shown_month, :format => "%B %Y")) %>
  </div>
  <div class="e-month-nav e-next-month">
    <%= raw( month_link(@shown_month.next_month) + " >>" ) %>
  </div>
</div>

<ul>

<%= render :partial => "list", :collection => @events, :as => :event %>

</ul>
<br />

<%= link_to t('new_event'), new_event_path if can? :create, Event %><br/>
<%= link_to t('ical_export_default'), event_path(:format => :ics)  %>