<p id="notice"><%= notice %></p>

<h1><%=t('event') %></h1>

<h2><%= @event.name %></h2>
<p>
	<%= raw(display_time(@event)) %> 
	<% if @event.all_day %>
	(<%=t('all_day')%>)
	<% end %>
</p>

<p>
  <b><%=t('location')%>:</b>
  <%= @event.location %>
</p>

<p>
  <b><%=t('description')%>:</b>
  <%= @event.description %>
</p>

<div id="event_orgas">
  <h3><%= t('event_orgas') %></h3>
  <ul>
    <%= render :partial => 'event_helpers/event_helper', :collection => @orgas, :locals => { :user_is_orga => @user_is_orga} %>
  </ul>
</div>

<div id="event_helpers">
  <h3><%= t('event_helpers') %></h3>
  <ul>
    <%= render :partial => 'event_helpers/event_helper', :collection => @helpers, :locals => { :user_is_orga => @user_is_orga} %>
  </ul>
  <%= form_for([@event, @event.event_helpers.build]) do |helper_form| %>
    <div class="action">
      <%= helper_form.submit t('helper_submit') %>
    </div>
  <% end %>
</div>

<%= link_to t('edit'), edit_event_path(@event) %> |
<%= link_to t('events'), events_path %>
