<div class="contact">
  <% if can? :read, contact %>
  <b>
    <%= t(contact.contacttype.name) unless contact.contacttype.nil? %>
  </b>:
  <% case contact.contacttype.name %>
  <% when "email" %>
    <%= link_to contact.address, "mailto://"+contact.address %>
  <% when "twitter" %>
    <%= link_to contact.address, "https://twitter.com/"+contact.address %>
  <% else %>
    <%= contact.address %>
  <% end %>
  <% unless readonly %>
    <% if contact.public %>
      <%= t('contact_public') %>
    <% else %>
      <%= t('contact_private') %>
    <% end %>
    <%= link_to t('edit'), edit_user_contact_path(contact.user, contact) if can? :edit, contact %>
    <%= link_to t('destroy'), user_contact_path(contact.user, contact), method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, contact %>
  <% end %>
<% end %>
</div>