<div class="contact">
  <% if can? :read, contact %>
    <b>
      <%= t(contact.contacttype.name) unless contact.contacttype.nil? %>
    </b>:
    <% case contact.contacttype.name %>
    <% when "email" %>
      <%= link_to contact.address, "mailto://"+contact.address %>
    <% when "twitter" %>
      <%= link_to contact.address, "https://twitter.com/"+contact.address %>
    <% else %>
      <%= contact.address %>
    <% end %>
    <%= icon('lock',t('contact_private')) unless contact.public %>
    <%= button_edit(edit_user_contact_path(contact.user, contact)) if can? :edit, contact %>
    <%= button_destroy(user_contact_path(contact.user, contact)) if can? :destroy, contact %>
  <% end %>
</div>
