<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @contact.user %>
</p>

<p>
  <b>Contacttype:</b>
  <%= @contact.contacttype %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <b>Public:</b>
  <%= @contact.public %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
