<%- model_class = Lodging -%>
<div class="page-header">
  <h1><%=t 'lodgings' %></h1>
</div>
<table class="table table-striped table-centered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:event_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:max_people) %></th>
      <th><%= model_class.human_attribute_name(:accessible) %></th>
      <th><%= model_class.human_attribute_name(:request) %></th>
    </tr>
  </thead>
  <tbody>
    <% @lodgings.each do |lodging| %>
      <tr>
        <td>
          <% unless lodging.event.nil? %>
            <%= lodging.event_id %> - <%= link_to lodging.event.name, lodging.event %>
          <% end %>
        </td>
        <td>
          <% unless lodging.user.nil? %>
            <% if can? :read, lodging.user %>
              <%= link_to lodging.user.username, lodging.user %>
            <% else %>
              <%= lodging.user.username %>
            <% end %>
            <% if lodging.anonymous and can? :manage, lodging %>
              (<%= link_to @anon.username, @anon %>)
            <% end%>
          <% end %>
        </td>
        <td><%= lodging.start_at %></td>
        <td><%= lodging.end_at %></td>
        <td><%= lodging.max_people %></td>
        <td><%= icon_bool(lodging.accessible) %></td>
        <td><%= icon_bool(lodging.request) %></td>
        <td>
          <%= button_view(lodging) %>
          <%= button_edit(edit_lodging_path(lodging)) if can? :edit, lodging %>
          <%= button_destroy(lodging_path(lodging)) if can? :destroy, lodging %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lodging_path,
            :class => 'btn btn-primary' %>
