<h1>Listing lodgings</h1>

<table>
  <tr>
    <th>Event</th>
    <th>User</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Max people</th>
    <th>Accessible</th>
    <th>Description</th>
    <th>Location</th>
    <th>Maplink</th>
    <th>Request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lodgings.each do |lodging| %>
  <tr>
    <td><%= lodging.event %></td>
    <td><%= lodging.user %></td>
    <td><%= lodging.start_at %></td>
    <td><%= lodging.end_at %></td>
    <td><%= lodging.max_people %></td>
    <td><%= lodging.accessible %></td>
    <td><%= lodging.description %></td>
    <td><%= lodging.location %></td>
    <td><%= lodging.maplink %></td>
    <td><%= lodging.request %></td>
    <td><%#= link_to 'Show', lodging %></td>
    <td><%#= link_to 'Edit', edit_lodging_path(lodging) %></td>
    <td><%#= link_to 'Destroy', lodging, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Lodging', new_lodging_path %>
