<%- model_class = Lodging -%>
<div class="page-header">
<h1>
  <% if @lodging.request.nil? or @lodging.request == false  %>
    <%= t('lodging') %>
  <% else %>
    <%= t('lodging_request_html') %>
  <% end %>
</h1>
</div>

<div class="row">
  <div class="span6">
  <% unless @lodging.event.nil? %>
    <h2>
      <%= Lodging.human_attribute_name('event')+':' %>
      <%= link_to @lodging.event.name, event_path(@lodging.event) unless @lodging.event.nil? %>
    </h2>
  <% end %>
  <p>
          <%= raw(display_time_lodging(@lodging)) %> 
  </p>

  <p>
    <b>
      <%= Lodging.human_attribute_name("user")+':' %>
    </b>
    <% if can? :read, @lodging.user %>
      <%= link_to @lodging.user.username, @lodging.user %>
    <% else %>
      <%= @lodging.user.username %>
    <% end %>
  </p>

  <p>
    <b>
      <%= Lodging.human_attribute_name('max_people')+':' %>
    </b>
    <%= @lodging.max_people %>
  </p>

  <p>
    <b>
      <%= Lodging.human_attribute_name('accessible')+':' %>
    </b>
    <%= icon_bool(@lodging.accessible) %>
  </p>

  <p>
    <b>
      <%= Lodging.human_attribute_name('description')+':' %>
    </b>
    <%= simple_format(@lodging.description) %>
  </p>

  <p>
    <b>
      <%= Lodging.human_attribute_name('location')+':' %>
    </b>
    <%= simple_format(@lodging.location) %>
  </p>

  <p>
    <b>
      <%= Lodging.human_attribute_name('maplink')+':' %>
    </b>
    <%= link_to @lodging.maplink, @lodging.maplink %>
  </p>
<% if @lodging.user == current_user or can? :manage, @lodging %>
  <p>
    <b>
      <%= Lodging.human_attribute_name('mod_comment')+':' %>
    </b>
    <%= simple_format(@lodging.mod_comment) %>
  </p>
<% end %>
  </div>

  <div class="span6">
  <h2>
    <%= t('contact') %>
  </h2>
  <%= render :partial => 'contacts/contact', :collection => @contacts %>
  </div>
</div>

<div class="form-actions">
  <%= button_edit(edit_lodging_path(@lodging), 'btn') if can? :edit, @lodging %>
  <%= button_destroy(lodging_path(@lodging), 'btn') if can? :destroy, @lodging %>
</div>
