<!DOCTYPE html>
<html>
<head>
  <title>Reisebuero</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |key, msg| %>
		<div class="<%=key%> message" id="notice_<%=key%>">
			<%=msg%>
			<div class="close_button">
				<%= link_to "x", "#", :class => "close" %>
			</div>
		</div>
		<%= content_tag :script, :type => "text/javascript" do -%>
			noticesTimer = setTimeout(function(){ $('#notice_<%=key%>').slideUp("slow")}, 5000);
			$('#notice_<%=key%> .close').click(function(){$('#notice_<%=key%>').slideUp("slow"); return false; });
		<% end %> 
	<% end %>
	<div id="outer">
          <div id="top">
		<div id="menu">
			<%= render 'shared/menu' %>
		</div>	
		<div id="login">
			<%= render 'shared/login' %>
		</div>
          </div>
          <div id="main">
            <%= yield %>
          </div>
  	</div>
</body>
</html>
